<launch>
    <!-- <arg name="serial_no_camera1" default="" /> -->
    <arg name="camera1" default="realsense_camera" />
    <arg name="tf_prefix_camera1" default="$(arg camera1)" />
    <arg name="initial_reset" default="true" />
    <arg name="reconnect_timeout" default="6.0" />

    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml" ns="$(arg camera1)">
        <!-- <arg name="serial_no" value="$(arg serial_no_camera1)" /> -->
        <arg name="tf_prefix" value="$(arg tf_prefix_camera1)" />
        <arg name="initial_reset" value="$(arg initial_reset)" />
        <arg name="reconnect_timeout" value="$(arg reconnect_timeout)" />

        <arg name="depth_width" default="480" />
        <arg name="depth_height" default="270" />
        <arg name="enable_depth" default="true" />
        <arg name="depth_fps" default="6" />
        <arg name="pointcloud_texture_stream" default="RS2_STREAM_ANY" />

        <arg name="color_width" default="480" />
        <arg name="color_height" default="270"/>
        <arg name="enable_color" default="true" />
        <arg name="color_fps" default="10" />

        <arg name="filters" default="pointcloud" />
    </include>


    <!-- Camera Transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_transform" args="0 0 0 0 0 0 1 base_link $(arg tf_prefix_camera1)_link" />

    <!-- Loads the camera model -->
    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro' use_nominal_extrinsics:=false" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
  